language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - pip install -r requirements_test.txt
  - pip install .
before_script:
    pip list
script:
    - isort --project pymrio --profile black --check-only .
    - coverage run --source=pymrio -m pytest --black -vv
after_success:
    coveralls
